img{
width:200px;
height:200px;}

heading{
padding-left: 20%;}

#bg{
background-color:rgb(211,211,211);
}

#mc{
background: linear-gradient(110deg, #D3D3D3 60%, #FFFFFF 60%);
}

#bd{
  border: 8px solid #C8C8C8;
}